

<style>
    .modal-dialog{
        width: 900px;
    }
</style>


<div class="modal-body">
                <div class="page-header">
                    <!--<h1><small class="pull-right"></small> Package Cart </h1>-->
                    <h3>Product successfully added to your shopping cart</h3>
                </div>
                <div class="comments-list">

                    <!--{{pDetailsData}}-->
                    <div class="media" >

                        <div class="media-body">


                            <div class="row" style="margin-top: 20px">

                                <div class="col-md-8" >

                                    <div class="col-md-6" >
                                        <img class="img-responsive thumbnail" ng-if="pDetailsData.tpackage.image1 != null" ng-src="/api/image/tpackage-image/{{pDetailsData.tpackage.image1}}" alt="{{pDetailsData.tpackage.title}}" />
                                    </div>

                                    <div class="col-md-6" >
                                        <h4>{{pDetailsData.tpackage.title}}</h4>
                                        <h4>Quantity {{pDetailsData.addedPackagecart.quantity}}</h4>
                                        <h4>Total {{pDetailsData.tpackage.price * pDetailsData.addedPackagecart.quantity | number: 2}} BDT</h4>
                                    </div>
                                    </div>

                                <div class="col-md-4" >
                                    <h4>There are {{pDetailsData.totalFilt.totalItem}} items in your cart.</h4>
                                    <h4>Total shipping 	Free shipping!</h4>
                                    <h4>Total products {{pDetailsData.totalFilt.totalAmount | number: 2}} BDT</h4>

                                </div>

                                </div>




                        </div>
                    </div>
                </div>
    <!--<ul>-->
        <!--<li ng-repeat="item in items">-->
            <!--<a href="#" ng-click="$event.preventDefault(); selected.item = item">{{ item }}</a>-->
        <!--</li>-->
    <!--</ul>-->
    <!--Selected: <b>{{ selected.item }}</b>-->
</div>
<div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="cancel()">Continue shopping</button>
    <!--<button class="btn btn-primary" type="button" ng-click="ok()">Proceed to checkout</button>-->
    <a href="/cart-order" class="btn btn-primary">Proceed to checkout</a>
</div>