<div ng-controller="PackageCtrl">
    <div class="col-md-4">
        <!--<h3>PROPERTY TYPE</h3>-->

        <fieldset class="standard" >
            <legend>PROPERTY TYPE</legend>
            <div layout="row" layout-wrap flex>
                <div flex="100" ng-show="countryData.filterData.hotel >= 1">
                    <md-checkbox name="hotel" ng-model="" ng-checked="" ng-click="">
                        Hotel ({{countryData.filterData.hotel}})
                    </md-checkbox>
                </div>

                <div flex="100" ng-show="countryData.filterData.resorts >= 1">
                    <md-checkbox name="resorts" ng-model="" ng-checked="" ng-click="">
                        Resorts ({{countryData.filterData.resorts}})
                    </md-checkbox>
                </div>

                <div flex="100" ng-show="countryData.filterData.cruiseship >= 1">
                    <md-checkbox name="cruiseship" ng-model="" ng-checked="" ng-click="">
                        Cruiseship ({{countryData.filterData.cruiseship}})
                    </md-checkbox>
                </div>


            </div>
        </fieldset>


        <div ng-show="countryData.filterData.hotel >= 1"><input type="checkbox"  name="hotel" ng-model="">Hotel ({{countryData.filterData.hotel}})</div>
        <div ng-show="countryData.filterData.resorts >= 1"><input type="checkbox"  name="resorts" ng-model="">Resorts ({{countryData.filterData.resorts}})</div>
        <div ng-show="countryData.filterData.cruiseship >= 1"><input type="checkbox"  name="cruiseship" ng-model="">Cruiseship ({{countryData.filterData.cruiseship}})</div>


        <h3>HOTEL RATING</h3>
        <div ng-show="countryData.filterData.hotel_rating1 >= 1"><input type="checkbox"  name="hotel_rating1" ng-model="">1 Star ({{countryData.filterData.hotel_rating1}})</div>
        <div ng-show="countryData.filterData.hotel_rating2 >= 1"><input type="checkbox"  name="hotel_rating2" ng-model="">2 Star ({{countryData.filterData.hotel_rating2}})</div>
        <div ng-show="countryData.filterData.hotel_rating3 >= 1"><input type="checkbox"  name="hotel_rating3" ng-model="">3 Star ({{countryData.filterData.hotel_rating3}})</div>
        <div ng-show="countryData.filterData.hotel_rating4 >= 1"><input type="checkbox"  name="hotel_rating4" ng-model="">4 Star ({{countryData.filterData.hotel_rating4}})</div>
        <div ng-show="countryData.filterData.hotel_rating5 >= 1"><input type="checkbox"  name="hotel_rating5" ng-model="">5 Star ({{countryData.filterData.hotel_rating5}})</div>


        <h3>AIRFARE</h3>

        <div ng-show="countryData.filterData.airfare_include >= 1"><input type="checkbox"  name="airfare_include" ng-model="">Included ({{countryData.filterData.airfare_include}})</div>
        <div ng-show="countryData.filterData.airfare_exclude >= 1"><input type="checkbox"  name="airfare_exclude" ng-model="">Excluded ({{countryData.filterData.airfare_exclude}})</div>


        <h3>TRANSPORT</h3>

        <div ng-show="countryData.filterData.transport_include >= 1"><input type="checkbox"  name="transport_include" ng-model="">Included ({{countryData.filterData.transport_include}})</div>
        <div ng-show="countryData.filterData.transport_exclude >= 1"><input type="checkbox"  name="transport_exclude" ng-model="">Excluded ({{countryData.filterData.transport_exclude}})</div>



    </div>
    <div class="col-md-8">
<!--{{countryData}}-->
        <div class="col-md-4" ng-repeat="shdata in countryData.showData">
            <a href=""><img class="img-responsive" ng-src="/api/image/tpackage-image/{{shdata.image1}}" alt="{{shdata.title}}" /> </a>
            <a href=""><h3>{{shdata.title}}</h3></a>
            <h4>{{shdata.price}}</h4>

        </div>

    </div>
</div>


