<div ng-controller="PackageCtrl">



    <div class="col-md-4">
        <!--<h3>PROPERTY TYPE</h3>-->
<!--{{slider}}-->
<!--{{max_price}}-->


        <fieldset class="standard" >
            <legend>PRICE RANGE</legend>
            <div layout="row" layout-wrap flex>
                <div flex="100" >

                    <!--<p>Value linked on start: {{ otherData.start }}</p>-->
                    <!--<p>Value linked on change: {{ otherData.change }}</p>-->
                    <!--<p>Value linked on end: {{ otherData.end }}</p>-->


                    <!--<p>Value linked on Min: {{ otherData.change }}</p>-->
                    <!--<p>Value linked on Max: {{ otherData.maxv }}</p>-->
                    <rzslider rz-slider-model="slider.minValue"
                              rz-slider-high="slider.maxValue"
                              rz-slider-options="slider.options" ></rzslider>


                </div>


            </div>
        </fieldset>

        <fieldset class="standard" >
            <legend>PROPERTY TYPE</legend>
            <div layout="row" layout-wrap flex>
                <div flex="100" ng-repeat="item in propertyType track by $index">
                    <md-checkbox ng-checked="exists(item, selectedPropertyType)" ng-click="toggle(item, selectedPropertyType)">
                        {{ item.view }} ({{getTotalNumber( item.type)}})
                    </md-checkbox>
                </div>



            </div>
        </fieldset>



        <fieldset class="standard" >
            <legend>HOTEL RATING</legend>
            <div layout="row" layout-wrap flex>
                <div flex="100" ng-repeat="item in ratingType track by $index">
                    <md-checkbox ng-checked="exists(item, selectedRatingType)" ng-click="toggle(item, selectedRatingType)">
                        {{ item.label }} ({{getTotalNumber(item.key)}})
                    </md-checkbox>
                </div>


            </div>
        </fieldset>

        <fieldset class="standard" >
            <legend>AIRFARE</legend>
            <div layout="row" layout-wrap flex>
                <div flex="100" >
                    <md-checkbox ng-model="selectedairFare.airfare_include">
                        Included ({{getTotalNumber('airfare_include')}})
                    </md-checkbox>
                </div>
                <div flex="100" >
                    <md-checkbox ng-model="selectedairFare.airfare_exclude">
                        Excluded ({{getTotalNumber('airfare_exclude')}})
                    </md-checkbox>
                </div>


            </div>
        </fieldset>

        <fieldset class="standard" >
            <legend>TRANSPORT</legend>
            <div layout="row" layout-wrap flex>
                <div flex="100" >
                    <md-checkbox ng-model="selectedtransportFare.transport_include">
                        Included ({{getTotalNumber('transport_include')}})
                    </md-checkbox>
                </div>
                <div flex="100" >
                    <md-checkbox ng-model="selectedtransportFare.transport_exclude">
                        Excluded ({{getTotalNumber('transport_exclude')}})
                    </md-checkbox>
                </div>


            </div>
        </fieldset>


        <!--<fieldset class="standard" >-->
            <!--<legend>AIRFARE</legend>-->
            <!--<div layout="row" layout-wrap flex>-->
                <!--<div flex="100" ng-show="countryData.filterData.airfare_include >= 1">-->
                    <!--<md-checkbox name="airfare_include" ng-model="" ng-checked="exists(item, selected)"  ng-click="toggle(item, selected)">-->
                        <!--Included ({{countryData.filterData.airfare_include}})-->
                    <!--</md-checkbox>-->
                <!--</div>-->

                <!--<div flex="100" ng-show="countryData.filterData.airfare_exclude >= 1">-->
                    <!--<md-checkbox name="airfare_exclude" ng-model="" ng-checked="exists(item, selected)"  ng-click="toggle(item, selected)">-->
                        <!--Excluded ({{countryData.filterData.airfare_exclude}})-->
                    <!--</md-checkbox>-->
                <!--</div>-->



            <!--</div>-->
        <!--</fieldset>-->


        <!--<fieldset class="standard" >-->
            <!--<legend>AIRFARE</legend>-->
            <!--<div layout="row" layout-wrap flex>-->
                <!--<div flex="100" ng-show="countryData.filterData.transport_include >= 1">-->
                    <!--<md-checkbox name="transport_include" ng-model="" ng-checked="exists(item, selected)"  ng-click="toggle(item, selected)">-->
                        <!--Included ({{countryData.filterData.transport_include}})-->
                    <!--</md-checkbox>-->
                <!--</div>-->

                <!--<div flex="100" ng-show="countryData.filterData.transport_exclude >= 1">-->
                    <!--<md-checkbox name="transport_exclude" ng-model="" ng-checked="exists(item, selected)"  ng-click="toggle(item, selected)">-->
                        <!--Excluded ({{countryData.filterData.transport_exclude}})-->
                    <!--</md-checkbox>-->
                <!--</div>-->



            <!--</div>-->
        <!--</fieldset>-->




    </div>
    <div class="col-md-8">

        <div class="col-md-12">
            <h3>{{countryData.filterData.country}} Tour Packages</h3>
        </div>
<!--{{countryData}}-->
        <div class="col-md-4" ng-repeat="shdata in countryData.showData" ng-show="checkByFilter(shdata)">
            <a href="/package-details/{{shdata.slug}}"><img class="img-thumbnail" ng-src="/api/image/tpackage-image/{{shdata.image1}}" alt="{{shdata.title}}" /> </a>
            <a href="/package-details/{{shdata.slug}}"><h3>{{shdata.title}}</h3></a>
            <h4>{{shdata.price}}</h4>

        </div>

    </div>
</div>


