<md-list  ng-cloak>
  <md-subheader class="md-no-sticky">Single Action Checkboxes</md-subheader>
  <md-list-item >
    <p>Adults</p>
    <dd-spinner ng-model="searchObj.adults"></dd-spinner>
  </md-list-item>
  <md-list-item >
    <p>Childs</p>
    <dd-spinner ng-model="searchObj.childs"></dd-spinner>
  </md-list-item>
  <md-list-item>
    <p>Infants</p>
    <dd-spinner ng-model="searchObj.infant"></dd-spinner>
  </md-list-item>
  <md-divider></md-divider>
  <md-list-item>
    <md-radio-group ng-model="searchObj.class">
      <md-radio-button value="Economy">Economy</md-radio-button>
      <md-radio-button value="Premium">Premium</md-radio-button>
      <md-radio-button value="Business">Business</md-radio-button>
      <md-radio-button value="First Class">First Class</md-radio-button>
    </md-radio-group>
  </md-list-item>

</md-list>