<div>
    <div>
        <h4 class="page-header">Stops</h4>
        <div class="checkbox" ng-repeat="item in tStops">
            <label>
                <input type="checkbox" ng-checked="exists(item, tStopsSelected)"
                       ng-click="toggle(item, tStopsSelected)">
                {{ item.view}}
            </label>
        </div>
    </div>
    <div>
        <h4 class="page-header">Layover Time</h4>
        <div class="checkbox" ng-repeat="item in tLayoverTime">
            <label>
                <input type="checkbox" ng-checked="exists(item, tLayoverTimeSelected)"
                       ng-click="toggle(item, tLayoverTimeSelected)">
                {{ item.view}}
            </label>
        </div>
    </div>
    <div>
        <h4 class="page-header">Fare Type</h4>
        <div class="checkbox" ng-repeat="item in tFareType">
            <label>
                <input type="checkbox" ng-checked="exists(item, tFareTypeSelected)"
                       ng-click="toggle(item, tFareTypeSelected)">
                {{ item.view}}
            </label>
        </div>
    </div>
    <div>
        <h4 class="page-header">Departure Time</h4>
        <div class="checkbox" ng-repeat="item in tDepartureTime">
            <label>
                <input type="checkbox" ng-checked="exists(item, tDepartureTimeSelected)"
                       ng-click="toggle(item, tDepartureTimeSelected)">
                {{ item.view}}
            </label>
        </div>
    </div>
    <div>
        <h4 class="page-header">Airlines</h4>
        <div class="checkbox" ng-repeat="item in tAirlines">
            <label>
                <input type="checkbox" ng-checked="exists(item, tAirlines_selected)"
                       ng-click="toggle(item, tAirlines_selected)">
                {{(item | airline).airline}}
            </label>
        </div>
    </div>
</div>
<div ng-hide="true">
    <fieldset class="standard">
        <legend>Stops</legend>
        <div layout="row" layout-wrap flex>
            <div flex="100" ng-repeat="item in tStops">
                <md-checkbox ng-checked="exists(item, tStopsSelected)"
                             ng-click="toggle(item, tStopsSelected)">
                    {{ item.view}}
                </md-checkbox>
            </div>
        </div>

    </fieldset>
    <fieldset class="standard">
        <legend>Layover Time</legend>
        <div layout="row" layout-wrap flex>
            <div flex="100" ng-repeat="item in tLayoverTime">
                <md-checkbox ng-checked="exists(item, tLayoverTimeSelected)"
                             ng-click="toggle(item, tLayoverTimeSelected)">
                    {{ item.view}}
                </md-checkbox>
            </div>
        </div>

    </fieldset>
    <fieldset class="standard">
        <legend>Fare Type</legend>
        <div layout="row" layout-wrap flex>
            <div flex="100" ng-repeat="item in tFareType">
                <md-checkbox ng-checked="exists(item, tFareTypeSelected)"
                             ng-click="toggle(item, tFareTypeSelected)">
                    {{ item.view}}
                </md-checkbox>
            </div>
        </div>

    </fieldset>
    <fieldset class="standard">
        <legend>Departure Time</legend>
        <div layout="row" layout-wrap flex>
            <div flex="100" ng-repeat="item in tDepartureTime">
                <md-checkbox ng-checked="exists(item, tDepartureTimeSelected)"
                             ng-click="toggle(item, tDepartureTimeSelected)">
                    {{ item.view}}
                </md-checkbox>
            </div>
        </div>

    </fieldset>
    <fieldset class="standard">
        <legend>Price</legend>
        <div layout="row" layout-wrap flex>
            <rzslider rz-slider-model="slider.minValue"
                      rz-slider-high="slider.maxValue"
                      rz-slider-options="slider.options"></rzslider>
        </div>

    </fieldset>
    <fieldset class="standard">
        <legend>Airlines</legend>
        <div layout="row" layout-wrap flex>
            <div flex="100" ng-repeat="item in tAirlines">
                <md-checkbox ng-checked="exists(item, tAirlines_selected)"
                             ng-click="toggle(item, tAirlines_selected)">
                    {{(item | airline).airline}}
                </md-checkbox>
            </div>
        </div>

    </fieldset>
</div>