
<div class="container">
    <div class="tabbable">
        <div class="row" ng-init="searchTab.domestic = false; searchTab.international = true; ">
            <ul class="nav nav-tabs home-ser">

                <li class="active"><a href ng-click="searchTab.domestic = false; searchTab.international = true;" data-toggle="tab">INTERNATIONAL FLIGHTS</a>
                </li>
                <li ><a href ng-click="searchTab.domestic = true; searchTab.international = false;" data-toggle="tab">DOMESTIC FLIGHTS</a>
                </li>
            </ul>
            <div class="tab-content">

                <div ng-show="searchTab.international" class="tab-pane active" id="tab2">
                    <form name="myform">
                        <div class="col-md-12">
                            <div class="jumbotron home-jumbotron">
                                <div class="form-group">
                                    <label class="radio-inline"> <input type="radio" value="O" ng-model="searchObj.tripType"> One Way </label>
                                    <label class="radio-inline"> <input type="radio" value="R" ng-model="searchObj.tripType"> Round Trip </label>
                                    <label class="radio-inline"> <input type="radio" value="M" ng-model="searchObj.tripType"> Multicity </label>
                                </div>
                                <div ng-hide="searchObj.tripType == 'M'">
                                    <div class="row">

                                        <div class="form-group typeahead-demo col-sm-6" ng-class="{ 'has-error': errorData.data.invalidAttributes.origin }">
                                            <label class="control-label">From</label>
                                            <input type="text" ng-model="searchObj.origin" placeholder="Select Origin"
                                                   uib-typeahead="state as state.display for state in ctrl.states |  fuzzyBy:'display':$viewValue | limitTo:8"
                                                   typeahead-template-url="/template/include/customTemplate.html" class="form-control" typeahead-show-hint="true"
                                                   typeahead-min-length="0" ng-required="true" name="origin">
                                            <span class="control-label">{{errorData.data.invalidAttributes.origin}}</span>
                                        </div>
                                        <div class="form-group col-sm-6" ng-class="{ 'has-error': errorData.data.invalidAttributes.destination }">
                                            <label class="control-label">To</label>
                                            <input type="text" ng-model="searchObj.destination" placeholder="Select Destination"
                                                   uib-typeahead="state as state.display for state in ctrl.states |  fuzzyBy:'display':$viewValue | limitTo:8"
                                                   typeahead-template-url="/template/include/customTemplate.html" class="form-control" typeahead-show-hint="true"
                                                   typeahead-min-length="0">
                                            <span class="control-label">{{errorData.data.invalidAttributes.destination}}</span>
                                        </div>

                                    </div>

                                    <div class="row">
                                        <div class="form-group col-sm-6" ng-class="{ 'has-error': errorData.data.invalidAttributes.departureDate }">
                                            <label class="control-label">Departure Date</label>
                                            <input type="date" class="form-control" ng-model="searchObj.departureDate">
                                            <span class="control-label">{{errorData.data.invalidAttributes.departureDate}}</span>
                                        </div>
                                        <div class="form-group col-sm-6" ng-class="{ 'has-error': errorData.data.invalidAttributes.arrivalDate }">
                                            <label for="pwd">Return Date</label>
                                            <input type="date" class="form-control" id="pwd" ng-model="searchObj.arrivalDate"
                                                   ng-disabled="searchObj.tripType == 'O'">
                                            <span class="control-label">{{errorData.data.invalidAttributes.arrivalDate}}</span>

                                        </div>
                                    </div>
                                </div>
                                <div ng-show="searchObj.tripType == 'M'">
                                    <div class="row" ng-repeat="row in multicity">
                                        <div class="form-group typeahead-demo col-sm-3" ng-class="{ 'has-error': errorData.data.invalidAttributes['origin_' + ($index + 1)] }">
                                            <label class="control-label">Form</label>
                                            <input type="text" ng-model="row.origin" placeholder="Select Origin"
                                                   uib-typeahead="state as state.display for state in ctrl.states |  fuzzyBy:'display':$viewValue | limitTo:8"
                                                   typeahead-template-url="/template/include/customTemplate.html" class="form-control" typeahead-show-hint="true"
                                                   typeahead-min-length="0">
                                            <span class="control-label">{{errorData.data.invalidAttributes['origin_' + ($index + 1)]}}</span>
                                        </div>
                                        <div class="form-group col-sm-3" ng-class="{ 'has-error': errorData.data.invalidAttributes['destination_' + ($index + 1)] }">
                                            <label class="control-label">To</label>
                                            <input type="text" ng-model="row.destination" placeholder="Select Destination"
                                                   uib-typeahead="state as state.display for state in ctrl.states |  fuzzyBy:'display':$viewValue | limitTo:8"
                                                   typeahead-template-url="/template/include/customTemplate.html" class="form-control" typeahead-show-hint="true"
                                                   typeahead-min-length="0">
                                            <span class="control-label">{{errorData.data.invalidAttributes['destination_' + ($index + 1)]}}</span>
                                        </div>
                                        <div class="form-group col-sm-3" ng-class="{ 'has-error': errorData.data.invalidAttributes['departureDate_' + ($index + 1)] }">
                                            <label class="control-label">Departure Date</label>
                                            <input type="date" class="form-control" id="usr" ng-model="row.departureDate">
                                            <span class="control-label">{{errorData.data.invalidAttributes['departureDate_' + ($index + 1)]}}</span>
                                        </div>
                                        <div class="form-group col-sm-3">
                                            <label for="pwd" class="">&nbsp;</label>
                                            <button class="btn btn-default btn-block" ng-click="removeMulticity($index)"
                                                    ng-disabled="multicity.length <= 2">Remove
                                            </button>
                                            <button class="btn btn-link btn-block" ng-click="addMulticity()"
                                                    ng-show="multicity.length === $index+1 && multicity.length < 4">+ Add City (Up to 4)
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-2">
                                        <label for="usr">adults</label>
                                        <dd-spinner ng-model="searchObj.adults" style="display: block;"></dd-spinner>
                                    </div>
                                    <div class="form-group col-sm-2">
                                        <label for="pwd">childs</label>
                                        <dd-spinner ng-model="searchObj.childs" style="display: block;"></dd-spinner>
                                    </div>
                                    <div class="form-group col-sm-2">
                                        <label for="pwd" class="">infant</label>
                                        <dd-spinner ng-model="searchObj.infant" style="display: block;"></dd-spinner>
                                    </div>
                                    <div class="form-group col-sm-3">
                                        <label for="pwd" class="">Cabin Class</label>
                                        <select class="form-control" id="sel1" ng-model="searchObj.class">
                                            <option value="Economy">Economy</option>
                                            <option value="PremiumEconomy">Premium Economy</option>
                                            <option value="Business">Business</option>
                                            <option value="First">First</option>
                                            <option value="PremiumFirst">Premium First</option>
                                        </select>
                                    </div>

                                    <div class="form-group col-sm-3">
                                        <label for="pwd" class="">&nbsp;</label>
                                        <button type="button" class="btn btn-primary btn-block" ng-click="searchTrigger()">Search Flights
                                        </button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" ng-model="searchObj.flexible"> My dates are flexible (+/- 3 days)
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <br class="">
                            <br class="">
                        </div>
                    </form>

                </div>
                <div ng-show="searchTab.domestic" class="tab-pane active" id="tab1">
                    <div class="col-md-12">
                        <div class="jumbotron home-jumbotron">
                            <br/>
                            <div class="form-group">
                            <label class="radio-inline"> <input type="radio" value="O" ng-model="domsearchObj.tripType"> One Way </label>
                            <!--<label class="radio-inline"> <input type="radio" value="R" ng-model="domsearchObj.tripType"> Round Trip </label>-->
                            <!--<label class="radio-inline"> <input type="radio" value="M" ng-model="searchObj.tripType"> Multicity </label>-->
                            </div>
                            <div ng-hide="searchObj.tripType == 'M'">
                                <div class="row">

                                    <div class="form-group typeahead-demo col-sm-6">
                                        <label>Form</label>
                                        <!--<input type="text" ng-model="searchObj.origin" placeholder="Select Origin"-->
                                               <!--uib-typeahead="state as state.display for state in ctrl.states |  fuzzyBy:'display':$viewValue | limitTo:8"-->
                                               <!--typeahead-template-url="/template/include/customTemplate.html" class="form-control" typeahead-show-hint="true"-->
                                               <!--typeahead-min-length="0">-->

                                        <select class="form-control input-lg" ng-model="domsearchObj.origin">
                                            <option value="-1">Select Origin</option>
                                            <option ng-repeat="city in domcityData" value={{city.id}}>{{city.name}}</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label for="pwd">To</label>
                                        <!--<input type="text" ng-model="searchObj.destination" placeholder="Select Destination"-->
                                               <!--uib-typeahead="state as state.display for state in ctrl.states |  fuzzyBy:'display':$viewValue | limitTo:8"-->
                                               <!--typeahead-template-url="/template/include/customTemplate.html" class="form-control" typeahead-show-hint="true"-->
                                               <!--typeahead-min-length="0">-->
                                        <select class="form-control input-lg" ng-model="domsearchObj.destination">
                                            <option value="-1">Select Destination</option>
                                            <option ng-repeat="city in domcityData" value={{city.id}}>{{city.name}}</option>
                                        </select>
                                    </div>
                                </div>
                                .
                                <div class="row">
                                    <div class="form-group col-sm-6">
                                        <label for="usr">Departure Date</label>
                                        <input type="date" class="form-control" id="usr" ng-model="domsearchObj.departureDate">
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label for="pwd">Return Date</label>
                                        <input type="date" class="form-control" id="pwd" ng-model="domsearchObj.arrivalDate"
                                               ng-disabled="domsearchObj.tripType == 'O'">
                                    </div>
                                </div>
                            </div>
                            <!--<div ng-show="searchObj.tripType == 'M'">-->
                                <!--<div class="row" ng-repeat="row in multicity">-->
                                    <!--<div class="form-group typeahead-demo col-sm-3">-->
                                        <!--<label>Form</label>-->
                                        <!--<input type="text" ng-model="row.origin" placeholder="Select Origin"-->
                                               <!--uib-typeahead="state as state.display for state in ctrl.states |  fuzzyBy:'display':$viewValue | limitTo:8"-->
                                               <!--typeahead-template-url="/template/include/customTemplate.html" class="form-control" typeahead-show-hint="true"-->
                                               <!--typeahead-min-length="0">-->
                                    <!--</div>-->
                                    <!--<div class="form-group col-sm-3">-->
                                        <!--<label for="pwd">To</label>-->
                                        <!--<input type="text" ng-model="row.destination" placeholder="Select Destination"-->
                                               <!--uib-typeahead="state as state.display for state in ctrl.states |  fuzzyBy:'display':$viewValue | limitTo:8"-->
                                               <!--typeahead-template-url="/template/include/customTemplate.html" class="form-control" typeahead-show-hint="true"-->
                                               <!--typeahead-min-length="0">-->
                                    <!--</div>-->
                                    <!--<div class="form-group col-sm-3">-->
                                        <!--<label for="usr">Departure Date</label>-->
                                        <!--<input type="date" class="form-control" id="usr" ng-model="row.departureDate">-->
                                    <!--</div>-->
                                    <!--<div class="form-group col-sm-3">-->
                                        <!--<label for="pwd" class="">&nbsp;</label>-->
                                        <!--<button class="btn btn-default btn-block" ng-click="removeMulticity($index)"-->
                                                <!--ng-disabled="multicity.length <= 2">Remove-->
                                        <!--</button>-->
                                        <!--<button class="btn btn-link btn-block" ng-click="addMulticity()"-->
                                                <!--ng-show="multicity.length === $index+1 && multicity.length < 4">+ Add City (Up to 4)-->
                                        <!--</button>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                            <div class="row">
                                <div class="form-group col-sm-2">
                                    <label for="usr">adults</label>
                                    <dd-spinner ng-model="domsearchObj.adults" style="display: block;"></dd-spinner>
                                </div>
                                <div class="form-group col-sm-2">
                                    <label for="pwd">childs</label>
                                    <dd-spinner ng-model="domsearchObj.childs" style="display: block;"></dd-spinner>
                                </div>
                                <div class="form-group col-sm-2">
                                    <label for="pwd" class="">infant</label>
                                    <dd-spinner ng-model="domsearchObj.infant" style="display: block;"></dd-spinner>
                                </div>
                                <div class="form-group col-sm-3">
                                    <label for="pwd" class="">Cabin Class</label>
                                    <select class="form-control" id="sel1" ng-model="domsearchObj.class">
                                        <option value="Economy">Economy</option>
                                        <!--<option value="PremiumEconomy">Premium Economy</option>-->
                                        <option value="Business">Business</option>
                                        <!--<option value="First">First</option>-->
                                        <!--<option value="PremiumFirst">Premium First</option>-->
                                    </select>
                                </div>

                                <div class="form-group col-sm-3">
                                    <label for="pwd" class="">&nbsp;</label>
                                    <button type="button" class="btn btn-primary btn-block" ng-click="domesticSearchTrigger()">Search Flights
                                    </button>
                                </div>
                            </div>


                        </div>
                        <br class="">
                        <br class="">
                    </div>

                </div>
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- end tabbable -->
</div>
<!-- end main container -->
