<div>
    <ul class="list-inline">
        <li ng-repeat="route in cart.route">
            <div>
 <span><img ng-src="{{'/api.travelport/images/' + route.segment[0].Carrier + '.png'}}"
            alt="not found" style="height: 40px;"></span>
                {{(route.segment[0].Carrier | airline).airline}}
                <br>
                <span>{{(route.Origin | airport).ct }} -> {{(route.Destination | airport).ct }}</span>
                <br>
                <span>
                    {{route.segment[0].Carrier}} -  {{route.segment[0].FlightNumber}}
                    {{route.segment[0].DepartureTime | date}}

                </span>
            </div>
            <!--<div class="media inline">-->
                <!--<div class="media-left">-->
                    <!--<a href="#">-->
                        <!--img </a>-->
                <!--</div>-->
                <!--<div class="media-body">-->
                    <!--<h4 class="media-heading">-->
                        <!--Media heading-->
                    <!--</h4>-->
                    <!--details-->
                <!--</div>-->
            <!--</div>-->
        </li>
        <li>
            <b>Traveller</b><br>
            {{cart.adults}} adults<br>
            {{cart.childs}} childs<br>
            {{cart.infant}} infant<br>
            {{cart.class}} class<br>
        </li>
    </ul>
</div>