<div ng-controller="UserInvoicesCtrl">
    <div class="col-md-12">



        <uib-accordion close-others="oneAtATime">


            <div uib-accordion-group class="panel-default"    ng-repeat="sal in sales"  >
                <uib-accordion-heading>
                    <span style="font-weight: bold;" ng-click="invoiceClick(sal.id)">{{sal.order_number}} ( {{sal.created_at}} )</span> <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                </uib-accordion-heading>


                    <div ng-repeat="row in allTicket">
                        <!--<div class="panel-heading">{{fromJson(row.cart_content).AirPricePoint.PlatingCarrier}}</div>-->
                        <div class="panel-body">
                            <table class="table table-bordered">
                                <tr>
                                    <th class="col-sm-3">
                                        Airlines
                                    </th>
                                    <th class="col-sm-2">
                                        Departure
                                    </th>
                                    <th class="col-sm-2">
                                        Arrive
                                    </th>

                                    <th class="col-sm-2">
                                        Price
                                    </th>

                                </tr>
                                <tr>
                                    <td class="col-sm-3">
                                        <span><img ng-src="{{'/api.travelport/images/' + row.airline + '.png'}}" alt="not found" style="height: 40px;"></span>

                                        {{row.airline}}
                                    </td>
                                    <td class="col-sm-2">{{row.departure_time | date:'hh:mm a'}} <br>
                                        {{row.orgine}}</td>
                                    <td class="col-sm-2">{{row.arrival_time | date:'hh:mm a'}} <br>
                                        {{row.destination}}</td>

                                    <td class="col-sm-2">
                                        {{row.price}}
                                    </td>

                                </tr>
                            </table>
                            <!--<div><a href="">{{true : 'Show'? 'Hide'}}</a></div>-->
                            <div class="table-responsive">
                                Traveller List
                                <table class="table table-bordered">
                                    <tr>
                                        <th></th>
                                        <th>Title</th>
                                        <th>First Name</th>
                                        <th>Middle Name</th>
                                        <th>Last Name</th>
                                        <th>DOB</th>
                                        <th>Nationality</th>
                                        <th>Passport No.</th>
                                        <th>Issuing Country</th>
                                        <th>Passport Expiry Date</th>

                                    </tr>
                                    <tr ng-repeat="person in row.passenger">
                                        <th>{{person.passenger_type +' '+ person.passenger_order}}</th>
                                        <th>{{person.title}}</th>
                                        <th>{{person.first_name}}</th>
                                        <th>{{person.middle_name}}</th>
                                        <th>{{person.last_name}}</th>
                                        <th>{{person.dob}}</th>
                                        <th>{{person.nationality}}</th>
                                        <th>{{person.passport_no}}</th>
                                        <th>{{person.passport_issue_country}}</th>
                                        <th>{{person.passport_expiry_date}}</th>

                                    </tr>

                                </table>

                                <table class="table table-bordered">
                                    <tr>
                                        <th>Billing Address</th>
                                        <th>Card info</th>
                                    </tr>
                                    <td>
                                        First Name : {{sale.billing_firstname}}<br/>
                                        Last Name : {{sale.billing_lastname}}<br/>
                                        Email : {{sale.billing_email}}<br/>
                                        Address : {{sale.billing_address}}<br/>
                                        City : {{sale.billing_city}}<br/>
                                        Country : {{sale.billing_country}}<br/>
                                        Phone : {{sale.billing_phone}}<br/>
                                    </td>

                                    <td>
                                        Card Holder : {{cardinfo.cardholder}}<br/>
                                        Card Number : {{cardinfo.card_number}}<br/>
                                        Card CVV : {{cardinfo.cvv}}<br/>
                                    </td>


                                    </table>




                            </div>

                        </div>
                        <!--<div class="panel-footer">Panel footer</div>-->

                </div>
            </div>
        </uib-accordion>



    </div>

</div>


