
/*========New ZB Start=========*/

@font-face {
    font-family: Nobel-Light;
    src: url('../fonts/Nobel-fonts/Nobel-Light.otf');
    /*src: url('.');*/
}

@font-face {
    font-family: Nobel-Bold;
    src: url('../fonts/Nobel-fonts/Nobel-Bold.otf');
}

h1{
    font-family: Nobel-Light;
    font-size: 45px;
    letter-spacing: 3px;
}

h4{
    font-family: Nobel-Bold;
    font-size: 25px;
    letter-spacing: 3px;
}

.home-head-h1{
    text-align: center;
    /*font-size: 45px;*/
    /*letter-spacing: 3px;*/
}

.home-head-h4{
    text-align: center;
    /*font-size: 25px;*/
    /*letter-spacing: 3px;*/
}

.home-ser>li>a {
    /*border-color: #808080; /!*50%*!/*/
    color:#808080;
    /*font-size: 20px;*/
    /*padding: 15px 20px;*/
    border-radius: 15px 15px 0px 0px;
    background-color: #F7F4E5;

}

/* active tab color */
.home-ser>li.active>a, .home-ser>li.active>a:hover, .home-ser>li.active>a:focus {
    color: #3C3C3C;
    background-color: #EEEEEE;
    /*border: 1px solid #EEEEEE;*/
}

/* hover tab color */
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #EEEEEE !important;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
    color: #000;
    background-color: transparent;
}
/*.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {*/
    /*color: #fff;*/
    /*background-color: transparent !important;*/
/*}*/

.home-ser>li>a:hover {
    /*border-color: #808080;*/
    background-color: #EEEEEE;
}

/*.home-ser > li, .nav-pills > li {*/
    /*float:none;*/
    /*display:inline-block;*/
    /**display:inline; /!* ie7 fix *!/*/
    /*zoom:1; /!* hasLayout ie7 trigger *!/*/
/*}*/

.home-ser > li{
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
    zoom:1; /* hasLayout ie7 trigger */
}

/* center tabs */
/*.home-ser, .nav-pills {*/
    /*text-align:center;*/
/*}*/

.home-ser{
    text-align:center;
}

/* line below tabs */
.home-ser {
    /*border-bottom: 2px solid #808080;*/
    border-bottom: none !important;
}

.home-jumbotron{
    border-radius: 15px !important;
}

.navbar-inverse{
    border-bottom: none !important;
}

.home-faci-container{
    text-align: center;
}
.home-facility-icon{
    background-color: #eaeaea;
    padding: 20px 0px;
    border-radius: 15px;
}

.home-facility-icon img{
    height: 125px;
    width: 125px;
    margin: auto;
}

#home-faci-1{
    /*background-image: url('../img/icon/save-big.png');*/
    /*background-repeat: no-repeat;*/
    /*background-attachment: fixed;*/
    /*background-position: center;*/
    /*background-size: 100%;*/
}


#footer-cont{
    background-color: #EEEEEE;
    /*padding: 15px 0px;*/
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer-link a{
    font-family: Nobel-Bold;
    color: #010101;
}
.footer-address{
    font-family: Nobel-Light;
    color: #010101;
}

.register-container{
    background-color: #EEEEEE;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 70px 70px;
}

.register-facebook-cont{
    box-sizing: border-box;
    padding: 70px 0px;
}
.register-facebook-cont a{
    display: block;
}

.login-container{
    background-color: #EEEEEE;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 70px 70px;
}
.login-container a{
    text-decoration: none;
    color: #000000;
}

.login-facebook-cont{
    box-sizing: border-box;
    padding: 70px 0px;
}
.login-facebook-cont a{
    display: block;
}


.my-acc-nav-tab a{
    color: #000000;
}

.my-acc-nav-tab a img{
    width: 35px;
    height: 35px;
    margin-right: 5px;
}


/*========New ZB End=========*/




ul.menu-side-1{
 padding: 0;
    margin: 0px;
    width: 100%;

}

ul.menu-side-1 li{
    display: block;
    /*padding: 3px 0px 3px 5px;*/
    /*border: 1px solid #eaeaea;*/
    margin-bottom: 5px;

}

/*ul.menu-side-1 li:hover{*/
    /*background: #333333;*/
    /*color: #ffffff;*/

/*}*/

ul.menu-side-1 li > a{
    display: block;
    text-decoration: none;
    color: #333333;
    padding: 3px 0px 3px 5px;
    border: 1px solid #eaeaea;
}

ul.menu-side-1 li > a:hover{
    background: #333333;
    color: #ffffff;
}

/*------Package Cart Start-----*/

.pkg-cart-error{
    color: red;
    font-size: 10px;
}

/*------Package Cart End-----*/



/*------Slider start----*/


/*------Slider end----*/


/*----Order cart Start-*/
.cart_delete a.cart_quantity_delete,
a.price_discount_delete {
    font-size: 23px;
    color: #333333;
}
.cart_delete a.cart_quantity_delete:hover,
a.price_discount_delete:hover {
    color: silver;
}
#cart_summary tbody td.cart_avail .label{
    white-space: nowrap;
}
#cart_summary tbody td {
    padding: 5px;
    text-align: center;
}
#cart_summary tbody td.cart_product {
    padding: 7px;
    text-align: center;
}
#cart_summary tbody td.cart_product img {
    border: 1px solid #d6d4d4;
}
#cart_summary tbody td.cart_unit .price span {
    display: inline-block;
}
#cart_summary tbody td.cart_unit .price span.price-percent-reduction {
    display: none;
}
#cart_summary tbody td.cart_unit .price span.old-price {
    text-decoration: line-through;
}
#cart_summary tbody td.cart_description small {
    display: block;
    padding: 5px 0 0 0;
}
#cart_summary tfoot td.text-right, #cart_summary tfoot tbody td.cart_unit, #cart_summary tbody tfoot td.cart_unit, #cart_summary tfoot tbody td.cart_total, #cart_summary tbody tfoot td.cart_total {
    font-weight: bold;
    color: #333333;
}
#cart_summary tfoot td.price {
    text-align: right;
}
#cart_summary tfoot td.total_price_container span {
    font-size: 18px;
    color: #555454;
    text-transform: uppercase;
}
#cart_summary tfoot td#total_price_container {
    font: 600 21px/25px "Open Sans", sans-serif;
    color: #333333;
    background: white;
}
#cart_summary .stock-management-on tbody td.cart_description {
    width: 480px;
}
.cart_discount_price {
    text-align: right;
}
.cart_discount_delete {
    text-align: center;
}
#cart_summary tbody td.cart_product>a {
    display: block;
    width: 90px;
    margin: 0 auto;
}
#cart_summary > thead > tr > th{
    text-align: center;
    background: #fbfbfb;
    border-bottom-width: 1px;
    color: #333333;
    vertical-align: middle;
}
#cart_summary tbody td.cart_product img{
    display: inline-block;
}


.quantity_item {
    display: inline-block;
    border: 1px solid #e0e0e0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #fff;
    width: 100%;
    position: relative;
}

.wrap_up_down_cart {
    position: relative;
    float: left;
    z-index: 1;
}

table tbody > tr > td.cart_quantity .cart_quantity_button a {
    height: 20px;
    width: 20px;
    display: block;
    background: #f4f4f4;
    text-align: center;
}
.product_quantity_up {
    border-right: 1px solid #e0e0e0;
}
.cart_quantity .cart_quantity_input {
    text-align: center;
    height: 40px;
    line-height: 40px;
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
    border: none !important;
    font-size: 18px;
    color: #333;
    font-weight: 300;
    width: 100%;
    position: absolute;
    padding-left: 18px;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}

.cart_quantity .cart_quantity_input:focus {
    box-shadow: 0 0 10px 0 #45c3f1 !important;
    border: none;
}

.product_quantity_up {
    border-right: 1px solid #e0e0e0;
}

#page .table tbody > tr > td.cart_quantity .cart_quantity_button a:hover {
    color: #00ace7 !important;
}

.icon-plus{
    font-size: 15px;
}

/*----Order cart Start-*/


/*---------Myacount tab Start---*/
#exTab1 .tab-content {
    /*color : white;*/
    /*background-color: #428bca;*/
    padding : 5px 15px;
}

#exTab2 h3 {
    color : white;
    background-color: #428bca;
    padding : 5px 15px;
}

/* remove border radius for the tab */

#exTab1 .nav-pills > li > a {
    border-radius: 0;
}

/* change border radius for the tab , apply corners on top*/

#exTab3 .nav-pills > li > a {
    border-radius: 4px 4px 0 0 ;
}

#exTab3 .tab-content {
    /*color : white;*/
    /*background-color: #428bca;*/
    padding : 5px 15px;
}



/*---------Myacount tab End---*/