<div class="modal-body">
    <div class="page-header">
        <h1>
            Flight Details
        </h1>
    </div>
    <div>
        <uib-tabset>
            <uib-tab>
                <uib-tab-heading>
                    Itinerary
                </uib-tab-heading>
                <div>

                    <h3>-> Departure</h3>
                    <uib-tabset>
                        <uib-tab ng-repeat="Routes in parse.Journey.Routes">
                            <uib-tab-heading>
                                {{Routes.Origin + ' - ' + Routes.Destination}}
                            </uib-tab-heading>
                            <div ng-repeat="AirSegment in Routes.AirSegment">
                                <div class="row pm-border">
                                    <div class="col-sm-3">
                                <span><img ng-src="{{'/api.travelport/images/' + AirSegment.Carrier + '.png'}}"
                                           alt="not found" style="height: 40px;"></span>

                                        {{(AirSegment.Carrier | airline).airline}}
                                    </div>
                                    <div class="col-sm-3">

                                        {{(AirSegment.Origin | airport).ct }} ({{AirSegment.Origin}})<br>
                                        {{AirSegment.DepartureTime | date:'hh:mm a'}}<br>
                                        {{AirSegment.DepartureTime | date}}<br>
                                        {{(AirSegment.Origin | airport).an }}
                                    </div>
                                    <div class="col-sm-3">
                                        {{AirSegment.FlightTime}} minutes | {{'Non Stop'}} | {{'free meal'}}
                                        <hr>
                                        {{getBookingClass(AirSegment.Key)}} | {{parse.Refundable == 'true'?
                                        'Refundable':'Non Refundable'}}

                                    </div>
                                    <div class="col-sm-3">
                                        {{(AirSegment.Destination | airport).ct }} ({{AirSegment.Destination}})<br>
                                        {{AirSegment.ArrivalTime | date:'hh:mm a'}}<br>
                                        {{AirSegment.ArrivalTime | date}}<br>
                                        {{(AirSegment.Destination | airport).an }}
                                    </div>

                                </div>
                                <div>
                                    <div class="bg-warning pm-border center" ng-hide="$last">
                                        <p class="text-center">Layover: {{(Routes.AirSegment[$index].Destination | airport).ct }} ({{(Routes.AirSegment[$index].Destination | airport).ac }}) | Time: {{dateDifference(Routes.AirSegment[$index+1].DepartureTime, Routes.AirSegment[$index].ArrivalTime)}}</p>
                                    </div>
                                </div>
                            </div>
                            </uib-tab>
                        </uib-tabset>

                </div>
                <div>
                    <p>
                        <strong>Disclaimer:</strong> Passenger of all Nationalities are advised to confirm with
                        respective embassies for all visa requirements.This communication is for informational & general
                        purposes only & Yatra assumes no responsibility,legal or otherwise,of its applicability &
                        accuracy.
                    </p>
                </div>
            </uib-tab>
            <uib-tab>
                <uib-tab-heading>
                    Fare Summary & Rules
                </uib-tab-heading>
                <div>
                    <div class="row">
                        <div class="col-md-5">
                            <div>
                                <table class="table table-bordered">
                                    <tr>
                                        <th>Fare Summary</th>
                                        <th>ADT x1</th>
                                    </tr>
                                    <tr>
                                        <td>Base Fare</td>
                                        <td>{{parse.Price.ApproximateBasePrice}}</td>
                                    </tr>
                                    <tr>
                                        <td>Fee & Tax</td>
                                        <td>{{parse.Price.ApproximateTaxes}}</td>
                                    </tr>
                                    <tr>
                                        <th>Total</th>
                                        <th>{{parse.Price.ApproximateTotalPrice}}</th>
                                    </tr>
                                </table>
                            </div>
                            <div>
                                <p>*Total fare displayed above has been rounded off and may thus show a slight
                                    difference.</p>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div>
                                <table class="table table-bordered" width="100%" cellspacing="0" cellpadding="0"
                                       style="position:relative;">

                                    <tr>
                                        <th colspan="4">
                                            <span class="pull-left">Fare Rules</span>
                                            <span class="pull-right">DAC-BOM-CCU-DEL</span>
                                        </th>
                                    </tr>
                                    <tr>
                                        <td colspan="4"><span class="pull-right">adult</span></td>
                                    </tr>
                                    <tr>
                                        <td class="" colspan="4"><strong>Cancellation Fee</strong></td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">Amount</td>
                                        <td>{{parse.Price.CancelPenalty}}</td>

                                    </tr>


                                    <tr>
                                        <td class="" colspan="4"><strong>Change Fee</strong>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">Amount</td>
                                        <td>{{parse.Price.ChangePenalty}}</td>

                                    </tr>

                                    <tr>
                                        <td class="" colspan="4"><strong>Jatry Service Fee(JSF)</strong>
                                            <br>
                                            <span class=""> (charged per passenger in addition to airline fee as applicable) </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="" colspan="3">Offline Cancellation Service Fee</td>

                                        <td>5000</td>
                                    </tr>
                                    <tr>
                                        <td class="" colspan="3">Online Cancellation Service Fee</td>
                                        <td>5000</td>

                                    </tr>
                                    <tr>
                                        <td class="" colspan="3">Rescheduling Service Fee</td>
                                        <td>5000</td>

                                    </tr>
                                </table>
                            </div>
                            <div>
                                <p>We would recommend that you reschedule/cancel your tickets at least 72 hours prior to
                                    the flight departure.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </uib-tab>
            <uib-tab>
                <uib-tab-heading>
                    Baggage
                </uib-tab-heading>
                <div>
                    <h4>Departure</h4>

                    <div ng-repeat="row in parse.Price.BookingInfo | unique:'FareInfoRef'">
                        <!--<h3>DAC -> DEL</h3>-->
                        <table class="table table-bordered">
                            <tr>
                                <th>{{row.FareInfo.Origin}} -> {{row.FareInfo.Destination}}</th>
                                <th>Cabin</th>
                                <th>Check-in</th>
                            </tr>
                            <tr>
                                <td>Adult</td>
                                <td>5-7 Kilograms</td>
                                <td>{{row.FareInfo.BaggageAllowance.MaxWeight.Value}}
                                    {{row.FareInfo.BaggageAllowance.MaxWeight.Unit}}
                                </td>
                            </tr>

                        </table>
                    </div>
                    <div>
                        <p>
                            The baggage information is just for reference. Please check with airline before check-in.
                            For more information , visit Jet Airways website
                            1 piece baggage is equivalent to 23 kgs or 50 lbs for adult/child and 10 kgs or 22 lbs for
                            infants
                        </p>
                    </div>
                </div>
            </uib-tab>
        </uib-tabset>


    </div>
</div>
<div class="modal-footer">

    <button class="btn btn-primary" type="button" ng-click="ok()">Close</button>
    <!--<button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>-->
</div>