<!--<style>-->
    <!--.modal-content{-->
        <!--width: 975px;;-->
    <!--}-->
    <!--.modal-body{-->
        <!--padding: 0px !important;-->
    <!--}-->
    <!--.modal-footer{-->
        <!--border-top:  none;-->
    <!--}-->
<!--</style>-->
<div class="modal-body">
    <uib-tabset>
        <uib-tab>
            <uib-tab-heading>
                Login
            </uib-tab-heading>


            <div class="container">
                <div class="row">

                    <div class="col-sm-8">
                        <br/><br/><br/>
                        <h1 class="home-head-h1">LOGIN TO YOUR ACCOUNT</h1>
                        <br/>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3 login-facebook-cont">
                        <p>LOGIN WITH YOUR FACEBOOK ACCOUNT</p><br/>
                        <a  href="{{ Route('tofacebook') }}"><img src="/img/facebook-signin.png" alt="JATRY" height="40px;" ></a>
                        <br/> <p>WE DO NOT POST ON YOUR WALL</p><br/>
                        <p>WE DO NOT COLLECT YOUR INFORMATION</p><br/>
                        <p>WE DO NOT SHARE YOYR PRIVATE DATA</p><br/>
                    </div>
                    <div class="col-sm-5">



                        <div class="col-sm-12 login-container">




                            <!--@if ($message = Session::get('success'))-->
                            <div class="alert alert-success">
                                <p>Erroraa message</p>
                            </div>
                            <!--@endif-->



                            <form class="form-horizontal" role="form">

                                <div class="form-group">
                                    <label for="email">EMAIL ADDRESS</label>

                                        <input id="email" type="email" class="form-control" name="email"
                                               ng-model="loginInfo.email">

                                </div>

                                <div class="form-group">
                                    <label for="password" >PASSWORD</label>

                                        <input id="password" type="password" class="form-control" name="password"
                                               ng-model="loginInfo.password">

                                </div>

                                <div class="col-sm-4 col-sm-offset-4" >
                                    <!--<input class="btn btn-primary col-sm-12" type="submit" value="LOGIN" />-->

                                    <button type="submit" class="btn btn-primary col-sm-12" ng-click="login()">
                                        LOGIN
                                    </button>

                                    <br/><br/>
                                    <!--<a class="btn btn-link" href="{{ url('user-pass/reset') }}">FORGOT YOUR PASSWORD?</a>-->
                                    <!--<a class="btn btn-link" href="{{ Route('customerregister') }}">CREATE A NEW ACCOUNT</a>-->
                                </div>


                            </form>
                        </div>
                    </div>

                </div>

            </div>




        </uib-tab>
        <uib-tab>
            <uib-tab-heading>
                Register
            </uib-tab-heading>
            <div class="container">
                <div class="row">

                    <div class="col-sm-8">
                        <br/><br/><br/>
                        <h1 class="home-head-h1">CREATE YOUR ACCOUNT</h1>
                        <br/>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3 register-facebook-cont">
                        <p>LOGIN WITH YOUR FACEBOOK ACCOUNT</p><br/>
                        <a  href="{{ Route('tofacebook') }}"><img src="/img/register-facebook.png" alt="JATRY" height="40px;" ></a>
                        <br/> <p>WE DO NOT POST ON YOUR WALL</p><br/>
                        <p>WE DO NOT COLLECT YOUR INFORMATION</p><br/>
                        <p>WE DO NOT SHARE YOYR PRIVATE DATA</p><br/>
                    </div>
                    <div class="col-sm-5">


                        <div class="col-sm-12 register-container">
                            <!--@if ($message = Session::get('success'))-->
                            <div class="alert alert-success">
                                <p>Message</p>
                            </div>
                            <!--@endif-->

                            <form class="form-horizontal" role="form">
                                <div class="form-group">
                                    <label for="name" >Name</label>

                                        <input placeholder="Name" class="form-control" name="name" type="text"
                                               ng-model="registerInfo.name">

                                </div>

                                <div class="form-group">
                                    <label for="email" >E-Mail Address</label>


                                        <input placeholder="Email" class="form-control" name="email" type="text"
                                               ng-model="registerInfo.email">


                                </div>

                                <div class="form-group">
                                    <label for="password" >Password</label>


                                        <input placeholder="Password" class="form-control" name="password"
                                               type="password" ng-model="registerInfo['password']">


                                </div>

                                <div class="form-group">
                                    <label for="password-confirm" >Confirm
                                        Password</label>


                                        <input placeholder="Confirm Password" class="form-control"
                                               name="confirm-password" type="password"
                                               ng-model="registerInfo['confirm-password']">


                                </div>


                                <br/>


                                <div class="col-sm-4 col-sm-offset-4" >
                                    <!--<input class="btn btn-primary col-sm-12" type="submit" value="LOGIN" />-->

                                    <button type="submit" class="btn btn-primary col-sm-12" ng-click="register()">
                                       REGISTER
                                    </button>

                                    <br/><br/>
                                    <!--<a class="btn btn-link" href="{{ url('user-pass/reset') }}">FORGOT YOUR PASSWORD?</a>-->
                                    <!--<a class="btn btn-link" href="{{ Route('customerregister') }}">CREATE A NEW ACCOUNT</a>-->
                                </div>







                                <!--<div class="form-group">-->
                                    <!--<div class="col-md-6 col-md-offset-4">-->
                                        <!--<button type="submit" class="btn btn-primary" ng-click="register()">-->
                                            <!--<i class="fa fa-btn fa-sign-in"></i> Register-->
                                        <!--</button>-->
                                        <!--<a class="btn btn-primary" href="/customer-register">Facebook</a>-->
                                    <!--</div>-->
                                <!--</div>-->


                            </form>
                        </div>
                    </div>

                </div>

            </div>


        </uib-tab>
    </uib-tabset>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>