<!--<style>-->
    <!--.modal-content{-->
        <!--width: 975px;;-->
    <!--}-->
    <!--.modal-body{-->
        <!--padding: 0px !important;-->
    <!--}-->
    <!--.modal-footer{-->
        <!--border-top:  none;-->
    <!--}-->
<!--</style>-->
<div class="modal-body">
    <uib-tabset>
        <uib-tab>
            <uib-tab-heading>
                Login
            </uib-tab-heading>
            <div class="panel panel-default">
                <div class="panel-heading">Customer Login</div>
                <div class="panel-body">

                    <!--@if ($message = Session::get('success'))-->
                    <div class="alert alert-success">
                        <p>Erroraa message</p>
                    </div>
                    <!--@endif-->

                    <form class="form-horizontal" role="form">

                        <div class="form-group">
                            <label for="email" class="col-md-4 control-label">E-Mail Address</label>
                            <div class="col-md-6">
                                <input id="email" type="email" class="form-control" name="email"
                                       ng-model="loginInfo.email">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="password" class="col-md-4 control-label">Password</label>
                            <div class="col-md-6">
                                <input id="password" type="password" class="form-control" name="password"
                                       ng-model="loginInfo.password">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-4">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="remember"> Remember Me
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-4">
                                <button type="submit" class="btn btn-primary" ng-click="login()">
                                    <i class="fa fa-btn fa-sign-in"></i> Login
                                </button>
                                <a class="btn btn-primary" href="/auth/facebook">FB-LOGIN</a>
                                <a class="btn btn-link" href="/password/reset">Forgot Your Password?</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </uib-tab>
        <uib-tab>
            <uib-tab-heading>
                Register
            </uib-tab-heading>
            <div class="panel panel-default">
                <div class="panel-heading">Customer Register</div>

                <div class="panel-body">
                    <!--@if ($message = Session::get('success'))-->
                    <div class="alert alert-success">
                        <p>Message</p>
                    </div>
                    <!--@endif-->

                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="name" class="col-md-4 control-label">Name</label>
                            <div class="col-md-6">
                                <input placeholder="Name" class="form-control" name="name" type="text"
                                       ng-model="registerInfo.name">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="email" class="col-md-4 control-label">E-Mail Address</label>

                            <div class="col-md-6">
                                <input placeholder="Email" class="form-control" name="email" type="text"
                                       ng-model="registerInfo.email">

                            </div>
                        </div>

                        <div class="form-group">
                            <label for="password" class="col-md-4 control-label">Password</label>

                            <div class="col-md-6">
                                <input placeholder="Password" class="form-control" name="password"
                                       type="password" ng-model="registerInfo['password']">

                            </div>
                        </div>

                        <div class="form-group">
                            <label for="password-confirm" class="col-md-4 control-label">Confirm
                                Password</label>

                            <div class="col-md-6">
                                <input placeholder="Confirm Password" class="form-control"
                                       name="confirm-password" type="password"
                                       ng-model="registerInfo['confirm-password']">

                            </div>
                        </div>


                        <br/>
                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-4">
                                <button type="submit" class="btn btn-primary" ng-click="register()">
                                    <i class="fa fa-btn fa-sign-in"></i> Register
                                </button>
                                <a class="btn btn-primary" href="/customer-register">Facebook</a>
                            </div>
                        </div>


                    </form>
                </div>
            </div>
        </uib-tab>
    </uib-tabset>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>