html, body, header,footer{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100%;
    font-family:"Open Sans",Arial,Verdana,sans-serif;
}
/* logo-heading */
.logo{
    float: left;
    padding-left: 15px;
    margin-top: 25px;
}
.right-heading-text{
    float: right;
    margin-right: 20px;
}
.right-heading-text h1{
    color: #005D8C;
    font-weight: 300;
    margin-bottom: 3px;
    font-weight: 300;
}
.right-heading-text h1 span{
    font-weight: 700;
}
.right-heading-text p{
    text-transform: capitalize;
    font-weight: 300;
}
.right-heading-text p span{
    font-size: 18px;
    padding-right: 65px;
    text-transform: capitalize;
}
.bottom-parag{
    font-style: italic;
    font-size: 12px;
    font-weight: 300;
}
/* End logo-heading */
/* navvigation bar */
ul li>a.for-border:after{
    content: '';
    width: 100%;
    height: 3px;
    background-color: #77bd1f;
    display:block;
    bottom: 0;
    padding-bottom: 0;
}
.for-background{
   background: #005D8C;
    padding: 40px 0;
}
nav.navbar.navbar-default{
    border-radius: 0;
    background: #005D8C;
}
.navbar-default
.navbar-nav>li>a{
    color: #FFF;
    padding-bottom: 0;
}
.navbar-default
.navbar-nav>li:hover{
   background-color: #77bd1f;
   color: #FFF;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form{
    padding-left: 0;
    padding-right: 0;
}
/*.form-control{*/
    /*height: 28px;*/
    /*border-radius: 0;*/
    /*font-size: 12px;*/
/*}*/
.panel-group .panel{
    border-radius: 0;
}
.panel{
    /*margin-bottom: 0;*/
    /*background-color: ;*/
    /*border-radius: 0;*/
    /*border: none;*/
}
.panel-heading{
    /*padding: 1px 15px;*/
    /*border-top-left-radius: 0px;*/
    /*border-top-right-radius: 0px; */
}
/*label{*/
    /*font-size: 13px;*/
    /*line-height: 20px;*/
/*}*/
input[type="checkbox"], input[type="radio"]{
    zoom: 1.4;
    margin-top: 1px;
}
.checkbox, .radio{
    margin-left: 8px;
}
.panel-group .panel-heading+.panel-collapse>.list-group,
.panel-group .panel-heading+.panel-collapse>.panel-body{
    border-top:0;
}
footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
/*.btn{*/
    /*border-radius: 0;*/
/*}*/




.sidebar {
    position : absolute;
    top : 0;
    left : -160px;;
    transition : 100ms left;
}
#navigation-toggle {
    position : absolute;
    left : 160px;
    background : rgba(3,159,244,.95);
    color : white;
    text-decoration : none;
    padding : 20px;
}
.show {
    left : 0;
}
.navigation {
    list-style : none;
    padding : 0;
    margin : 0;
}
.navigation-items a {
    display : block;
    background-color : #444;
    color : white;
    line-height : 2em;
    text-decoration : none;
    padding : 10px 30px;
    width : 100px;

}
.navigation-items a:hover {
    background-color : #222;
}

/*==========Submenu Start==============*/




.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 27px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}


/*==========Submenu End==============*/

