<div ng-controller="CartOrderCtrl">
    <div class="col-md-12">
        <div class="page-header">
            <!--<h1><small class="pull-right"></small> Package Cart </h1>-->
            <h3>Your shopping cart</h3>
        </div>

        <div id="order-detail-content" class="table_block table-responsive">
            <table id="cart_summary" class="table table-bordered stock-management-off">
                <thead>
                <tr>
                    <th class="cart_product first_item">Product</th>
                    <th class="cart_description item">Description</th>
                    <th class="cart_unit item text-right">Unit price</th>
                    <th class="cart_quantity item text-center">Qty</th>
                    <th class="cart_delete last_item">&nbsp;</th>
                    <th class="cart_total item text-right">Total</th>
                </tr>
                </thead>
                <tfoot>




                <tr class="cart_total_price">
                    <td rowspan="4" colspan="2" id="cart_voucher" class="cart_voucher">
                    </td>
                    <td colspan="2" class="text-right">Total products</td>
                    <td colspan="2" class="price" id="total_product">{{totalPrice | number: 2 }} BDT</td>
                </tr>


                <tr style="display: none;">
                    <td colspan="3" class="text-right">
                        Total gift-wrapping cost
                    </td>
                    <td colspan="2" class="price-discount price" id="total_wrapping">
                        0.00 BDT
                    </td>
                </tr>
                <tr class="cart_total_delivery">
                    <td colspan="2" class="text-right">Total shipping</td>
                    <td colspan="2" class="price" id="total_shipping">Free Shipping!</td>
                </tr>
                <tr class="cart_total_voucher unvisible">
                    <td colspan="2" class="text-right">
                        Total vouchers
                    </td>
                    <td colspan="2" class="price-discount price" id="total_discount">
                        0.00 BDT
                    </td>
                </tr>
                <tr class="cart_total_price">
                    <td colspan="2" class="total_price_container text-right">
                        <span>Total</span>

                    </td>
                    <td colspan="2" class="price" id="total_price_container">
                        <span id="total_price">{{totalPrice | number: 2 }} BDT</span>
                    </td>
                </tr>
                </tfoot>










                <tbody>

                <tr id="product_334_0_0_75" class="cart_item" ng-repeat="cartd in orderData.cartpkgArr">
                    <td class="cart_product">
                        <a href="#">

                            <img class="thumbnail" ng-if="cartd.package.image1 != null" ng-src="/api/image/tpackage-image/{{cartd.package.image1}}" alt="{{cartd.package.title}}" width="98" height="98" />

                        </a>
                    </td>
                    <td class="cart_description">
                        <p class="product-name"><a href="#">{{cartd.package.title}}</a></p>
                        <small class="cart_ref">SKU : {{cartd.package.code}}</small>
                    </td>
                    <td class="cart_unit" data-title="Unit price">
                        {{cartd.package.price}}
                    </td>

                    <!--<td class="cart_quantity text-center" data-title="Quantity">-->

                        <!--<div class="quantity_item">-->
                            <!--<div class="wrap_up_down_cart cart_quantity_button clearfix">-->
                                <!--<a rel="nofollow" class="product_quantity_up cart_quantity_up" id="cart_quantity_up_334_0_0_75" href="http://tripooly.com/cart?add=1&amp;id_product=334&amp;ipa=0&amp;id_address_delivery=75&amp;token=f43f7fba354ac41cc5d26512636838cf" title="Add"><span><i class="icon-plus">+</i></span></a>-->
                                <!--<a rel="nofollow" class="product_quantity_down cart_quantity_down " id="cart_quantity_down_334_0_0_75" href="http://tripooly.com/cart?add=1&amp;id_product=334&amp;ipa=0&amp;id_address_delivery=75&amp;op=down&amp;token=f43f7fba354ac41cc5d26512636838cf" title="Subtract">-->
                                    <!--<span><i class="icon-minus">-</i></span>-->
                                <!--</a>-->
                            <!--</div>-->
                            <!--<input size="2" type="text"  class="cart_quantity_input" value="{{cartd.quantity}}" name="quantity">                        </div>-->
                    <!--</td>-->

                    <td>
                        <dd-spinner ng-model="cartd.quantity" ng-click="quantityChang(cartd.quantity, cartd.package.slug)"></dd-spinner>
                    </td>

                    <td class="cart_delete text-center" data-title="Delete">
                       delete
                    </td>
                    <td class="cart_total" data-title="Total">
		<span class="price" id="total_product_price_334_0_75">{{cartd.package.price * cartd.quantity | number: 2}} BDT	</span>
                    </td>

                </tr>



                <!--<tr class="cart_total_price">-->
                    <!--<td rowspan="3" colspan="2" id="cart_voucher" class="cart_voucher">-->
                    <!--</td>-->
                    <!--<td colspan="2" class="text-right">Total products</td>-->
                    <!--<td colspan="2" class="price" id="total_product">{{totalPrice}} BDT</td>-->
                <!--</tr>-->


                <!--<tr class="cart_total_price">-->
                    <!-- -->
                    <!--<td colspan="2" class="text-right">Total products</td>-->
                    <!--<td colspan="2" class="price" id="total_product">{{totalPrice}} BDT</td>-->
                <!--</tr>-->











                </tbody>
            </table>
        </div>



    </div>

</div>


