<div ng-controller="CheckoutFinalCtrl">
    <div id="over" ng-show="isProcessing"></div>

    <div ng-show="error"><p>Your credit card infrormation invalid</p></div>
    <form class="form-horizontal" enctype="multipart/form-data" role="form" >
        <div class="form-group">
            <label for="credit-card">Credit Card Number:</label>
            <input type="text" class="form-control" id="credit-card" name="card_number" ng-model="payment.card_number">
        </div>
        <div class="form-group">
            <label for="cardholder">Cardholder Name <small>(Please enter the same name which is written on your card)</small></label>
            <input type="text" class="form-control" id="cardholder" name="cardholder" ng-model="payment.cardholder">
        </div>
        <div class="form-group">
            <label for="expdate">Expiry Date</label>
            <input type="text" class="form-control" id="expdate" name="exp_date" ng-model="payment.exp_date">
        </div>
        <div class="form-group">
            <label for="cvv">CVV <small>3 digit CVV Number</small></label>
            <input type="text" class="form-control" id="cvv" name="cvv" ng-model="payment.cvv">
        </div>


        <button class="btn btn-default" ng-click="submit()">Submit</button>
    </form>
</div>