<div ng-controller="HomeMaterialCtrl as ctrl">

    <div class="container" ng-init=" ">
        <div class="display-table">
            <div class="table-cell hidden-xs">
                <p>
                    Found {{pricingSolution.length}} results<br>
                    in 2 seconds
                </p>
            </div>
            <div class="table-cell">
                <p>
                    Date->del<br>
                    in 2 seconds
                </p>
            </div>
            <div class="table-cell text-right">
                    <div class="btn-group btn-group-justified">
                        <a class="btn btn-primary hidden-lg hidden-md" ng-click="collapse.filter = !collapse.filter">filter</a>
                        <a class="btn btn-default" ng-click="collapse.search = !collapse.search" slide-toggle="#searchBox">search</a>
                    </div>

                </div>
        </div>
        <span>{{collapse}}</span>
    </div>
    <!--add search box-->
    <div id="searchBox" class="slideable">
    <!--<div ng-show="collapse.search" class="search-box-collapse">-->
        <ng-include src="'/template/include/search-box.html'"></ng-include>
    </div>

    <div class="container" ng-show="fault">
        <div class="alert alert-danger">
            {{fault.faultstring}}
        </div>
    </div>
    <ng-include src="tUrl"></ng-include>
    <div class="container" ng-show="isLoading">
        <div layout="row" layout-sm="column" layout-align="center center" style="padding: 20px">
            <md-progress-circular md-diameter="96"></md-progress-circular>
            <span style="padding-left: 20px">loading</span>
        </div>
        <h1>loading please wait</h1>
    </div>
</div>