<div ng-controller="HomeMaterialCtrl as ctrl">
    <!--add search box-->
    <ng-include src="'/template/include/search-box.html'"></ng-include>
    <div class="container">
        <div class="bg-danger">
            <ul ng-repeat="(key, prop) in errorData.data track by $index" class="list">
                <li>{{key}}</li>
                <ul ng-repeat="(k, val) in prop track by $index">
                    <li>{{k}}</li>
                    <ul ng-repeat="(o, values) in val track by $index">
                        <li>{{values}}</li>
                    </ul>
                </ul>
            </ul>
        </div>
        <div class="bg-success">
            <ul ng-repeat="(key, prop) in successData.config.data track by $index" class="list">
                <li>{{key}} : {{prop}}</li>
            </ul>
        </div>
    </div>
</div>

