<div class="modal-body">
    <div class="page-header">
        <h1>
            <small class="pull-right"></small>
            Cart
        </h1>
    </div>
    <div class="comments-list">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="panel panel-default">
                        <div class="panel-heading">Customer Login Forpackage</div>
                        <div class="panel-body">


                            <!--@if ($message = Session::get('success'))-->
                            <!--<div class="alert alert-success">-->
                            <!--<p>{{ $message }}</p>-->
                            <!--</div>-->
                            <!--@endif-->


                            <!--@if ($errors->has('crederr'))-->
                            <!--<span class="help-block">-->
                            <!--<strong>{{ $errors->first('crederr') }}</strong>-->
                            <!--</span>-->

                            <!--{{&#45;&#45;<div class="alert alert-success">&#45;&#45;}}-->
                            <!--{{&#45;&#45;<p>{{ $errors->first('cred') }}</p>&#45;&#45;}}-->
                            <!--{{&#45;&#45;</div>&#45;&#45;}}-->
                            <!--@endif-->


                            <form class="form-horizontal" role="form" method="POST"
                                  action="{{ route('customerlogindo') }}">
                                {{--
                                <form class="form-horizontal" role="form" method="POST" action="{{ url('/login') }}">
                                    --}}
                                    {{ csrf_field() }}

                                    <div class="form-group{{ $errors->has('email') ? ' has-error' : '' }}">
                                        <label for="email" class="col-md-4 control-label">E-Mail Address</label>

                                        <div class="col-md-6">
                                            <input id="email" type="email" class="form-control" name="email"
                                                   value="{{ old('email') }}">

                                            @if ($errors->has('email'))
                                    <span class="help-block">
                                        <strong>{{ $errors->first('email') }}</strong>
                                    </span>
                                            @endif
                                        </div>
                                    </div>

                                    <div class="form-group{{ $errors->has('password') ? ' has-error' : '' }}">
                                        <label for="password" class="col-md-4 control-label">Password</label>

                                        <div class="col-md-6">
                                            <input id="password" type="password" class="form-control" name="password">

                                            @if ($errors->has('password'))
                                    <span class="help-block">
                                        <strong>{{ $errors->first('password') }}</strong>
                                    </span>
                                            @endif
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-6 col-md-offset-4">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="remember"> Remember Me
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-6 col-md-offset-4">
                                            <button type="submit" class="btn btn-primary">
                                                <i class="fa fa-btn fa-sign-in"></i> Login
                                            </button>

                                            <a class="btn btn-link" href="{{ url('/password/reset') }}">Forgot Your
                                                Password?</a>
                                        </div>
                                    </div>
                                </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--<ul>-->
    <!--<li ng-repeat="item in items">-->
    <!--<a href="#" ng-click="$event.preventDefault(); selected.item = item">{{ item }}</a>-->
    <!--</li>-->
    <!--</ul>-->
    <!--Selected: <b>{{ selected.item }}</b>-->
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>