<div class="modal-body">
                <div class="page-header">
                    <h1>Traveller List </h1>
                </div>
    <div class="list-group">
        <a href class="list-group-item" ng-repeat="row in travellercards" ng-click="$event.preventDefault(); selected.item = row">
            {{row.cardholder}}-{{row.card_number}}-{{row.exp_date}}
        </a>
    </div>
</div>
<div class="modal-footer">
    <span class="pull-left"><strong>Selected: </strong>{{selected.item.cardholder}}-{{selected.item.card_number}}-{{selected.item.exp_date}}</span>
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>